@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.font-clash {
  font-family: "Clash Display", sans-serif;
}

.section-wrapper {
  padding: 0rem 1.5rem;
}

@media (min-width: 640px) {
  .section-wrapper {
    padding: 0rem 2rem;
  }
}

@media (min-width: 1045px) {
  .section-wrapper {
    padding: 0rem 6.7rem;
  }
}

.sosy {
  color: #b9b9b9;
}

.text-stroke-2 {
  /* -webkit-text-stroke-width: 1px; */
  color: hsla(0, 0%, 100%, 0.2);
  letter-spacing: 1px;
  /* -webkit-text-stroke-colorc2c2c2: #ffffff; */
}
